body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(207, 169, 0);
    font-size: 35px;
    flex-direction: column;
    justify-content: center;
}
button{
    color: rgb(219, 199, 12);
}

.container{
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.568);
}

#countdown{
    font-size: 8rem;
}